@font-face {
  font-family: "CTVSans-Bold";
  src: url("fonts/ctv-sans-bold/CTVSans-Bold.woff2") format("woff2"),
    url("fonts/ctv-sans-bold/CTVSans-Bold.woff") format("woff"),
    url("fonts/ctv-sans-bold/CTVSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;

  font-family: "CTVSans-Regular";
  src: url(fonts/CTVSans-Regular.ttf) format("ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}
a:hover {
  color: #eb0000;
}
.container {
  padding: 0 10px;
}

.section-header {
  padding-top: 20px;
  border-bottom: 1px solid #c8c8c8;
  min-height: 60px;
  max-height: fit-content;
  margin-bottom: 30px;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 70px;
  &__row {
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    .item {
      display: flex;
      align-items: center;
      &--container {
        gap: 10px;
      }
    }
  }
  &__navigation {
    margin: 0 -10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    padding: 0;
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: max-height 1s ease, opacity 1s ease;

    &--active {
      max-height: 400px;
      opacity: 1;
    }
  }
}
.logo {
  max-width: 150px;
}

.golive {
  display: flex;
  gap: 4px;
  &__lock {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    background-color: #eb0000;
    color: white;
    border-radius: 50%;
    font-size: 10px;
    font-weight: bold;
    &::before {
      content: "";
      background-image: url(images/header/lock-solid.svg);
      width: 6px;
      height: 8px;
      background-repeat: no-repeat;
    }
  }

  &__live {
    font-family: "CTVSans-Bold", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #eb0000;
  }
}
.burger {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  gap: 3.5px;
  flex-direction: column;
  transition: 0.8s ease;
  span {
    width: 22px;
    height: 2.5px;
    background-color: #000;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.1490196078);
    flex-shrink: 0;
  }
}
.external-link {
  display: none;
  &__title {
    font-family: Arial, Helvetica, sans-serif;
    &::before {
      color: #eb0000;
      content: "|";
      padding-right: 4px;
    }
  }
  &__images {
    display: flex;
    gap: 2px;
  }
  &__logo {
    cursor: pointer;
  }

  &__icon {
    cursor: pointer;
  }
}
.nav-list {
  list-style: none;
  order: 2;
  display: flex;
  flex-direction: column;
  &__item {
    position: relative;
    border-top: 1px solid #000;
    padding: 20px 10px;
    cursor: pointer;
    &::after {
      position: absolute;
      content: "";
      top: 50%;
      right: 10px;
      width: 10px;
      height: 10px;
      transform: translateY(-50%);
      background-image: url("images/header/arrow.png");
      background-size: cover;
    }
  }
}
.nav-search {
  order: 1;
  &__form {
    margin: 0 auto;
    max-width: 464px;
    .search-field {
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 10px;
      border: 1px solid #c8c8c8;
      border-radius: 4px;
      font-size: 14px;
      box-sizing: border-box;
      &__input {
        outline: none;
        border: none;
      }
      &__icon {
        cursor: pointer;
        flex-shrink: 0;
      }
    }
  }
}

.section-article {
  margin-bottom: 20px;
  img {
    max-width: -webkit-fill-available;
  }
}
.article {
  &__top {
    padding-bottom: 20px;
    border-bottom: 1px solid #c8c8c8;
  }
}
.place {
  display: flex;
  gap: 4px;
  margin-bottom: 10px;
  .country {
    font-size: 14px;
    color: #007aff;
    font-family: "CTVSans-Bold", "Helvetica", "Arial", sans-serif;
  }
  .news {
    border-left: 1px solid #404040;
    padding-left: 4px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
  }
}
.title {
  font-size: 24px;
  font-family: "CTVSans-Bold", "Helvetica", "Arial", sans-serif;
  margin-bottom: 20px;
}

.article {
  &__main {
    padding: 40px 0px;
  }
}
.author {
  margin-bottom: 20px;
  &__name,
  &__job,
  &__contact {
    font-size: 14px;
    font-family: "CTVSans-Bold", "Helvetica", "Arial", sans-serif;
  }

  &__name,
  &__job {
    color: #404040;
  }

  &__staff {
    font-size: 14px;
    margin-bottom: 10px;
  }

  &__contact {
    color: #007aff;
    margin-bottom: 20px;
  }

  &__date {
    font-size: 14px;
  }
}

.content,
.interview {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content {
  font-size: 18px;
  line-height: 1.15;
  font-family: Arial, Helvetica, sans-serif;
  color: #404040;
  p {
    line-height: 1.75rem;
  }
  span {
    font-weight: 600;
  }
  img {
    width: -webkit-fill-available;
  }
}
.interview {
  &__title {
    font-size: 20px;
  }
}
.highlight {
  font-style: italic;
  font-size: 14px;
  line-height: 10px;
  padding: 0px 20px;
  margin-left: 10px;
  border-left: 5px solid;
}
.yellow-img {
  border: 2px solid yellow;
}

.section-experiment {
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;

  p {
    margin-bottom: 20px;
  }
  img {
    width: -webkit-fill-available;
  }
}
.experiment {
  &__img {
    margin-bottom: 20px;
  }
}
.bitcoins {
  margin-bottom: 20px;

  &__person {
    color: gray;
  }
}
.days {
  p {
    margin: 0;
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }
}
.day {
  padding: 20px 0 5px 0;
  font-size: 20px;
  text-align: center;
  color: #fff;
  background-color: #a7a7a7;
}
.checks {
  font-family: "Courier New", Courier, monospace;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__item1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid #cecece;
  }

  &__item2 {
    margin: 0 auto;
    max-width: 300px;
    color: #777777;
  }
}
.check-first {
  padding: 5px 5px 0 5px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  &__container {
    display: flex;
    gap: 10px;
  }
  img {
    max-width: 50px;
  }
}
.info {
  display: flex;
  flex-direction: column;
}

.check-second {
  display: flex;
  flex-direction: column;
  &__other {
    display: flex;
    flex-direction: column;
  }
}
.mb {
  margin-bottom: 10px;
}
.check-third {
  display: grid;
  grid-template-columns: 22% 30% auto auto auto;
  width: 100%;
  border: 1px solid #ccc;

  .check-third__top,
  .check-third__bottom {
    display: contents;
    text-align: left;
  }

  .check-third__top span,
  .check-third__bottom span {
    border-bottom: 2px solid #000;
    font-weight: 600;
  }

  .check-third__top span:not(:last-child) {
    border-right: 2px solid #000;
  }
  .check-third__bottom span:not(:last-child) {
    border-right: 1px solid #000;
  }
  .check-third__top span {
    background-color: #cecece;
  }
}
.check2-first {
  border-bottom: 1px solid;
  padding: 10px;
  margin: 0 auto 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  img {
    max-width: 100px;
  }

  &__price {
    color: #000;
  }
}
.check2-second {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
  &__item {
    display: flex;
    justify-content: space-between;
  }
}
.regular {
  font-size: 16px;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

.section-instructions {
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.instructions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  &__caption {
    font-size: 20px;
    text-align: center;
  }
  &__item {
    background-color: #dddddd;
    font-family: "CTVSans-Bold", "Arial", sans-serif;
    border-left: 3px solid #d10b11;
    border-right: 3px solid #d10b11;
    border-radius: 15px;
    padding: 15px 25px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    .circle {
      width: 50px; /* Ширина круга */
      height: 50px; /* Высота круга */
      border: 3px solid red; /* Красный бордер */
      border-radius: 50%; /* Делает элемент кругом */
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
    }
    .number {
      font-size: 32px;
      font-family: emoji;
      color: red;
    }
  }
  &__btn {
    max-width: 200px;
    margin: 0 auto;
    padding: 15px 25px;
    font-size: 18px;
    border-style: none;
    border-radius: 15px;
    cursor: pointer;
    border-left: 2px solid #d10b11;
    border-right: 2px solid #d10b11;
  }
}

.section-connect {
  display: none;
  margin-bottom: 30px;
}
.connect {
  display: flex;
  flex-direction: column;
  gap: 30px;
  &__caption {
    color: #2c2c2c;
    padding: 10px 0;
    border-top: 1px solid #c8c8c8;
    font-size: 20px;
    font-family: "CTVSans-Bold", "Arial", sans-serif;
  }
  &__images {
    display: flex;
    justify-content: space-between;
    img {
      max-width: 216px;
    }
  }
}

.section-footer {
  padding-top: 40px;
  background-color: #003662;
  color: #fff;
  font-family: CTV sans bold, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.footer {
  padding: 0 20px 20px 20px;
  span:not(:last-child) {
    &::after {
      content: " | ";
    }
  }
  &__item {
    h3 {
      padding-top: 10px;
      margin-bottom: 10px;
      font-size: 20px;
      border-top: 0.5px solid #fff;
    }
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    &--1 {
      gap: 20px;
    }
    &--3 {
      line-height: 2em;
      margin-bottom: 10px;
    }
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
  &__text {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.videolinks {
  line-height: 2.5em;
}
.border-block {
  padding-top: 5px;
  border-top: 5px solid #fff;
  display: flex;
  gap: 34px;
  margin-bottom: 16px;
  button {
    font-family: CTV sans bold, Helvetica, Arial, sans-serif;
    background-color: #fff;
    color: #2c2c2c;
    display: block;
    font-weight: 700;
    padding: 8px;
    text-align: center;
    border-style: none;
    min-width: 132px;
  }
}

@media screen and (min-width: 600px) {
  .external-link {
    display: flex;
    &__logo {
      display: none;
    }
  }
  .checks__item1 {
    margin: 0 auto;
    min-width: 500px;
    max-width: 560px;
  }
  .check-first {
    padding-right: 30px;
  }
}
@media screen and (min-width: 768px) {
  .external-link {
    gap: 20px;
    &__logo {
      display: block;
    }
  }
  .section-connect {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    padding: 0 20px;
  }
  .header {
    gap: 5px;
    padding: 0px 20px;
  }
  .burger {
    display: none;
  }
  .header__navigation {
    margin: 0px 0px 5px 0px;
    justify-content: end;
    flex-direction: row;
    max-height: unset;
    overflow: unset;
    opacity: 1;
    .nav-list {
      order: 1;
      flex-direction: row;
      gap: 10px;
      &__item {
        border: none;
        padding: 10px;
        &::before {
          transition: transform 0.2s ease-in-out 0s;
          background-color: #2c2c2c;
          bottom: -8px;
          content: "";
          height: 4px;
          left: 0;
          position: absolute;
          transform: scaleX(0);
          visibility: hidden;
          width: calc(100% + 10px);
        }
        &::after {
          right: -2px;
        }
        &:hover::before {
          transform: scaleX(1);
          visibility: visible;
        }
      }
    }
    .nav-search {
      order: 2;
    }
  }
  .checks__item1 {
    min-width: 768px;
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    &__item {
      max-width: 344px;
    }
  }
}
